<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSWindowSupportsTransparentBackground</key>
    <true/>
    <key>NSVisualEffectViewState</key>
    <string>Active</string>
    <key>NSAppearanceType</key>
    <string>NSAppearanceNameVibrantDark</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>GridGuide needs accessibility access to detect keyboard shortcuts.</string>
    <key>NSAppleScriptEnabled</key>
    <true/>
</dict>
</plist> 